body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
    padding-top: 10px;
}

.chatProzor{
    height: 220px;
    width: 280px;
    position: fixed;
    bottom: 0;
    right:0;
    background-color:#d3d3d3;
    border:solid 1px #5f5f5f;
}

#zaChat{
    height: 220px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right:150px;
}

.myChatInput{
    position:fixed;
    bottom:0;
}

.ChatHeader{
    position:fixed;
    top:0;
    background-color:#ffffff;
}

.ChatHeaderDiv{
    background-color:#ffffff;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    height: 25px;
    width: 278px;
    position: fixed;
}

ul
{
    list-style-type: none;
}

ul.moja
{
    padding-top:25px;
    padding-bottom:25px;
    list-style-type: none;
}

li.moja  {
    padding-left: -2.5em;
    padding-right: 1em;
    text-indent: -2.5em;
}


