@{
    ViewBag.Title = "About";
}
<h3>About us..</h3>
<p>
    At HintTech, strategy, creative, technology and content all work together.
    Together we tackle all sorts of challenges, both in the digital space and beyond.
    We create digital experiences that transform brands, enhance customer loyalty and
    contribute to better results.HintTech guides each and every one of our clients to
    make the right choices within the digital world..
</p>
