
@{
    ViewBag.Title = "RegisterOK";
}
<br />
<br />
<h3>Register OK</h3>
<br />
<h5> Wait for admin to approve your account.</h5>

<div>
    @Html.ActionLink("Back to homepage", "Index", "Home")
</div>
