
@{
    ViewBag.Title = "RegisterOK";
}
<br />
<br />
<h2>Register OK</h2>
<br />
<h4> Wait for admin to approve your account.</h4>
<br />

<div>
    @Html.ActionLink("Back to homepage", "Index", "Home")
</div>
