@model HinttechPractice.Data.Holiday

<br />
<br />

<div class="row" align="center">
    <div class="col-md-4 col-md-offset-4 bg-success">
        <h3>Are you sure you want to delete holiday:</h3>
        <div>
            <h5>From: @Model.DateFrom.ToString("MM.dd.yyyy")</h5>
            <h5>To: @Model.DateTo.ToString("MM.dd.yyyy")</h5>
            <h5>Description: @Model.Description</h5>
        </div>
        <form method="post" action="RemoveHoliday">
            <input type="hidden" value="@Model.HolidayId" name="HolidayId" />
            <input type="submit" value="Delete" class="btn btn-info btn-block" />
        </form>
    </div>
</div>

