@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accsess Denied</title>
</head>
<body>
    <hgroup>
        <h1>Error 401 Unautorized</h1>
        <h2>You don't have permision to accsess this page!!!</h2>
    </hgroup>
</body>
</html>
