@{
    ViewBag.Title = "RegisterOK";
}
<br />
<br />
<h2>Access Denied</h2>
<br />
<h4> You don't have permision to access this page!!!</h4>
<br />
<div>
    @Html.ActionLink("Back to homepage", "Index", "Home")
</div>