@model IEnumerable<HinttechPractice.Models.HolidaysAndUsers>

    <div>
       

        <br />
        <br />
        <br />
        <div id="bilokako" align="center" style="width:500px; margin:0 auto;">
            <form id="editAddForma" method="post" action="AddHoliday" onsubmit="return dateCheck()">
                <input type="hidden" class="form-control" name="UserId" placeholder="UserId" value="@ViewBag.idOfUser" /><br />
                <input type="date" class="form-control" name="DateFrom" placeholder="From" value="@ViewBag.dan" required /><br />
                <input type="date" class="form-control" name="DateTo" placeholder="To" value="@ViewBag.danDo" required /><br />
                <input type="text" class="form-control" autofocus="autofocus" name="Description" placeholder="Description" required /><br />
                <input type="submit" class="btn btn-success btn-block" value="Add Holiday" /><br />
            </form>
        </div>
    </div>

    <script>
        function dateCheck() {
            var from = document.forms["editAddForma"]["DateFrom"].value;
            var to = document.forms["editAddForma"]["DateTo"].value;
            if (from > to) {
                
                alertify.error("Start date cannot be greater than end date.");
                return false;
                
            } else {
                
                return true;
            }
        }
    </script>



